.container {
    width: 50%;
    margin: auto;
    box-shadow: 5px 5px 8px gray;
    padding: 35px;
    margin-top: 40px;
}


.img-container {
    width: 50%;
    margin: auto;
    margin-left: 38%;
}
.buttonContainer {
    width: 100%;
    margin: 0 35%;
}