input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container-log {
    width: 50%;
    margin: auto;
    padding: 35px;
    margin-top: 40px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
.login {
    width: 60%;
    height: 500px;
    align-content: center;
    margin: auto;
    margin-top: 6%;
    /*border-bottom: 2px dotted cadetblue;*/
    box-shadow: 5px 5px 8px cadetblue;

}

.error{
    color: red;
}
.login-button {
    width: 25%;
    height: 40px;
    margin: 30px 35%;
}
.login-header{
    font-weight: bold;
    font-size: 30px;
    margin: auto;
    text-align: center;
    margin-top: 40px;    margin-top: 40px;
    font-family: monospace;
}