.payslip-container {
    margin: 5% 12%;
}
select {
    padding: 5px;
    margin: 0 5px;
}

.emp-management {
    margin: 10px 0;
}
.but-disabled {
    background: lightgray;
    cursor: not-allowed;
    color: #333;
}